.blinker-up {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 255, 0);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blinker-up::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: rgb(0, 255, 0);
  border-radius: 25px;
  animation: loop-up 1.3s 0s infinite;
}

@keyframes loop-up {
  0% {
    background-color: rgb(0, 255, 0);
    width: 1px;
    height: 1px;
  }
  100% {
    background-color: rgba(0, 255, 0, 0);
    width: 30px;
    height: 30px;
  }
}
.blinker-down {
  width: 8px;
  height: 8px;
  background-color: rgb(255, 0, 0);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blinker-down::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: rgb(255, 0, 0);
  border-radius: 25px;
  animation: loop-down 1.3s 0s infinite;
}

@keyframes loop-down {
  0% {
    background-color: rgb(255, 0, 0);
    width: 1px;
    height: 1px;
  }
  100% {
    background-color: rgba(0, 255, 0, 0);
    width: 30px;
    height: 30px;
  }
}

.buttonArrow {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  padding-bottom: 10px;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #f5f5f5;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.buttonArrow:hover .button__icon-wrapper {
  color: #6d28d9;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.buttonArrow:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.buttonArrow:hover .button__icon-svg--copy {
  transition: transform 0.7s ease-in-out 0.1s;
  transform: translate(0);
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #15012100; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(41, 13, 86); /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 0.5px solid #9023cf68; /* Border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #9939da; /* Color of the thumb on hover */
}
