/* In your CSS file or a styled component */
.blinker {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-flex;
    height: 6px;
    width: 6px;
    margin-left: 10px;
    margin-right: 10px;
    animation: ping 1.25s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.blinkerChild {
    height: 8px;
    width: 16px;
    border-radius: 50%;
    display: inline-flex;
    justify-self: center;
    align-self: center;
    animation: ping 1.25s ease-out infinite;
}

.blinker-up {
    background-color: rgb(8, 150, 8);
    /* animation: blink 1.4s ease infinite; */
}

.blinker-down {
    background-color: red;

}

.bounce{
    transition: all .35s ease-in-out;

}

.bounce:hover {
    transform: scale(2);
    transform: translate(2.5px, -2.5px)
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ping {

    75%,
    100% {
        transform: scale(2);;
        opacity: 0;
    }
}