.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: fixed;
  top: 2%;
  left: 7%;
  align-items: center;
  padding: 5px 40px;
  background: linear-gradient(105deg, #3d0872 0%, #0a001f 70%);
  color: #ffffff;
  backdrop-filter: blur(150px);
  box-shadow: #000000 0px 0px 30px;
  border-radius: 40px;
  /* border-radius: 0px 0px 20px 20px; */
  border: 1px solid #c7c3c351;
  border-top: none;
  z-index: 100;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 60px;
  margin-right: 10px;
}

.navbar-logo span {
  text-decoration: none;
  color: #ffffffae;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(rgb(194 176 176), #1b1818);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  position: relative;
}

.navbar-menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background 0.3s;
}

.navbar-menu li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 234px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.signup {
  background: #5d5d5da2;
  color: #ffffff;
  text-decoration: none;
}

.signup:hover {
  background: #7c5ea55a;
}

.login {
  background: #8000ff;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background: #9900ff;
}

.dashboard {
  background: #28a745;
  color: #ffffff;
}

.dashboard:hover {
  background: #218838;
}

.logout {
  background: #dc3545;
  color: #ffffff;
  position: fixed;
  right: 1.5rem;
}

.logout:hover {
  background: #c82333;
}

.username {
  margin-right: 10px;
  font-size: 1rem;
  color: #ffffff;
  /* width: 115px; */
}