@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/CabinetGrotesk-Black.otf') format('truetype'); /* Adjust the path as necessary */
}

body {
  font-family: 'CustomFont', sans-serif;
}